*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.google{
    text-align: center;
    margin: 80px;
}
.g{
    font-size: 80px;
    color: blue;
}
.o{
    font-size: 80px;
    color: red;
}
.o2{
    font-size: 80px;
    color: yellow;
}
.g2{
    font-size: 80px;
    color: green;
}
.l{
    font-size: 80px;
    color: blue;
}
.e{
    font-size: 80px;
    color: red;
}
h1{
    list-style-type: none;
    color: black;
    text-align: right;
    text-decoration: none;
}
h2{
    list-style-type: none;
    text-decoration: none;
    color: black;
    text-align: right;
}
.sign{
    width: 60px;
    height: 60px;
    background-color: blue;
    border: 1px solid #dcdcdc;
    border-radius: 70%;
    color: white;
    margin-right: 5px;
}
.top{
    position: absolute;
    top: 25px;
    right: 40px;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 12px;
}
.top a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.top i{
    width: 15px;
    height: 15px;
}
.container{
    width: 500px;
    position: relative;
    margin: 35px auto;
}
.container input{
    font-size: 15px;
    width: 100%;
    padding: 12px 90px 12px 40px;
    border-radius: 20px;
    border: 1px solid #dcdcdc;
    outline: none;
    background: rgba(255,255,255,0.75);
    box-shadow: 0 2px 5px rgba(0,0,0, 0.1);
    transition: all .2s ease;
    /* margin-left: 480px; */
}
.container input:focus{
    box-shadow: 0 3px 8px rgba(0,0,0, 0.2);
}
/* .container .icons{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 10px;
}
.container .icons i{
    color: grey;
    cursor: pointer;
    font-size: 18px;
} */
.fa-search{
    right: 180px;
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
    color: grey;
}
.right-icons{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 10px;
}
.right-icons i{
    color: grey;
    cursor: pointer;
    font-size: 17px;
}
.btn{
    width: 90px;
    height: 90px;
    border: 1px solid #ccc;
    border-radius: 50px;
    margin-left: 640px; 
    margin-top: 30px;
}
.btn:hover{
    background-color: green;
}
